* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}
html,
body {
  width: 100%;

}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #1f1f1f;
}
#page1 {
  display: flex;
  align-items: baseline;
  min-height: 100%;
  width: 100%;
}
#left-box {
    position: fixed;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 30px;
  width: 23%;
  border: 1px solid #fff;
}
#left-box #top {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
#left-box #top img {
  width: 30%;
}
#left-box #top h1 {
  font-size: 15px;
  font-weight: 100;
  color: #fff;
}
#left-box > img {
  margin-left: 15%;
  margin-top: 10%;
  width: 270px;
  border-radius: 30px;
}
#left-box > h2 {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 100;
}
#left-box > h3 {
    font-weight: 300;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #999999;
}
#social {
  position: relative;
  color: white;
  margin-top: 30px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#social .box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  border: 1px solid #fff;
}

#left-box > button {
  background-color: #28e98c;
  color: #1f1f1f;
  font-size: 20px;
  padding: 16px 92px;
  border-radius: 30px;
  margin-top: 10%;
  margin-left: 11%;
  margin-bottom: 5%;
}
#left-box > button:hover {
  background-color: #1f1f1f;
  color: #28e98c;
  border: 2px solid #28e98c;
}
#social .box:hover {
  background-color: #1f1f1f;
  color: #28e98c;
  border: 2px solid #28e98c;
}
#middle {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
  margin-left: 35%;
  width: 60%;
}
#middle button {
  background-color: #1f1f1f;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}
#middle > h3 {
  color: #fff;
  width: 65%;
  font-size: 60px;
  font-weight: 500;
  margin-top: 50px;
}
#middle > h3 span {
  color: #28e98c;
}
#middle > h2 {
  margin-top: 50px;
  font-size: 22px;
  color: #999999;
  font-weight: 400;
}
#rigth-box {
  width: 17%;
  display: flex;
  flex-direction: column;
}
#menu {
  position: absolute;
  right: 68px;
  top: 60px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid #575757;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #575757;
  z-index: 99;
}
.nav-2 {
  flex-direction: column;
  border: 1px solid #575757;
  border-radius: 30px;
  position: fixed;
  right: 68px;
  top: 200px;
  width: 55px;
  color: #575757;
  font-weight: 100;
  text-align: center;
  height: 50%;
  padding: 24px 0;
  font-size: 20px;
  z-index: 20;
}
ul {
  list-style: none;
}
ul li {
  margin-top: 8px;
}

#menu:hover{
    background-color: #1f1f1f;
    color: #28e98c;
    border: 2px solid #28e98c;
}
.nav-2 li:hover{
    background-color: #1f1f1f;
    color: #28e98c;

}
.circle{
    width: 65%;
    height: 300px;
}
.circle img{
    cursor: pointer;
    border: 2px solid #575757;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    right: 17%;
    top: 70%;
    animation: round 6s infinite linear;
}
 @keyframes round {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
 }
 .circle i {
    font-size: 70px;
    color: #fff ;
    padding: 16px;
    border-radius: 50%;
    position: absolute;
    right: 20%;
    top: 76%;
 }
 .text-1{
    display: flex;
    align-items: center;
    gap: 150px;
 }
 #left-text{
    line-height: 24px;

 }
 #left-text h2{
    font-weight: 400;
    color: #28e98c;
    font-size: 72px;
 }
 #left-text p{
    color: #999999;
    margin-top: 30px;
    font-size: 16px;

 }
 #right-text{
    line-height: 24px;
 }
 #right-text h2{
    font-weight: 400;
    color: #28e98c;
    font-size: 72px;
 }
 #right-text p{
    color: #999999;
    margin-top: 30px;
    font-size: 16px;
 }
 #text-2{
    height: 500px;
    margin-top: 10%;
 }
 #text-2 button{
    border: 1px solid #999999;
 }
 #text-2 h1{
    margin-top: 50px;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
 }
 #text-2 h1 span{
    color: #28e98c;
 }
 #text-2 p{
    margin-top: 50px;
    font-size: 20px;
    color: #999999;
 }
 #text-3 button{
    border: 1px solid #999999;
 }
 #text-3 h4{
    margin-top: 50px;
    color: #fff;
    font-size: 55px;
    font-weight: 400;
 }
 #text-3 h4 span{
    color: #28e98c;
 }
 .text-4{
    margin-top: 50px;
 }
 .text-4 span{
    font-size: 18px;
    margin-top: 20px;
    color: #28e98c;
    
 }
 .text-4 h2{
    font-size: 28px;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
 }
 .text-4 p{
    margin-top: 20px;
    font-size: 20px;

    color: #999999;
 }
 .text-5{
    margin-top: 100px;

 }
 .text-5 span{
    font-size: 18px;
    color: #999999;
 }
 .text-5 h2{
    font-size: 28px;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
 }
 .text-5 p {
    font-size: 20px;
    margin-top: 20px;
    color: #999999;
 }
 #text-6{
  margin-top: 100px;

 }
 #text-6 h1{
  margin-top: 50px;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
 }
 #text-6 h1 span{
  color: #28e98c;
 }
 .box2{
  padding: 14px 28px;
  display: flex;
  line-height: 40px;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  gap: 100px;
  width: 100%;
  height: 220px;
  border-radius: 30px;
  border: 1px solid #999999;
 }
#text-6 .box2:hover{
  border: 2px soild #28e98c;
  cursor: pointer;
 }
 .box2 .l h2{
  color: #fff;
  font-size: 30px;
  font-weight: 400;
 }
 .box2 .l p{
  font-size: 16px;
  font-weight: 300;
  color: #999999;

 }
 .box2 .l a{
  color: #fff;
  text-decoration: none;
  font-size: 14px;
 }
 .box2 .r{
  font-size: 40px;
  color: #28e98c;
 }
 .box2 .l a:hover{
  text-decoration: underline;
  color: #28e98c;
 }
 #text-7{
  margin-top: 50px;
 }

 #text-7 h1{
  margin-top: 50px;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
 }
 #text-7 h1 span{
color: #28e98c;
 }  
#container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}
.skill{
  margin-top: 70px;
  width: 22%;
  height: 250px;
  border: 2px solid #999999;
  border-radius: 100px;
}
.andr{
  margin-top: 55px;
  margin-left: 60px;
}
.andr img{
  margin-left: 10px;
  width: 40%;
}

.andr h1{
  color: #28e98c;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
}
.skill p{
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 60px;
  margin-left: 65px;
}
.skill:hover{
  border: 2px solid #28e98c;
  transition: all ease-in-out 0.5;
}
#text-8{
  margin-top: 120px;
}
#text-8 h1{
  margin-top: 50px;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
}
#text-8 h1 span{
color: #28e98c;
} 
#pro{
  position: relative;
  margin-top: 70px;
}
#pro img{
  width: 90%;
  border-radius: 50px;
}
#pro .btn{
  position: absolute;
  bottom: 2%;
  left: 3%;
  gap: 20px;
}
button{
  cursor: pointer;
}
#text-8>a{
  font-size: 34px;
  color: #fff;
  text-decoration: none;
}
#text>a:hover{
  text-decoration: underline;
}
#pro1{
  position: relative;
  margin-top: 80px;
  display: flex;
}
#pro12 img{
  border-radius: 50px;
width: 80%;
height: 400px;
}
#pro12>a{
font-size: 28px;
}
.btn-1{
  position: absolute;
  bottom: 10%;
  left: 3%;
  gap: 20px;
}
.btn-2{
  position: absolute;
  bottom: 10%;
  right: 22%;
  gap: 20px;
}
a{
  margin-top: 30px;
  margin-left: 15px;
  font-size: 34px;
  color: #fff;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
#text-9{
  margin-top: 50px;
}
#text-9 h1{
  margin-top: 50px;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
}
#text-9 h1 span{
  color: #28e98c;
}
#pricing{
  margin-top: 50px;
  height: 800px;
width: 100%;
  display: flex;
  gap: 20px;
}
#basic{
  text-align: center;
  width: 370px;
  height: 700px;
  border: 2px solid #999999;
  border-radius: 50px;  
}
#basic-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #999999;
  padding: 25px;
}
#basic ul{
  margin-top: 60px;
  line-height: 30px;
  font-size: 14px;
  margin-left: 40px;
  color: #fff;
  text-align: left;
}
#basic button{
  margin-top: 80px;
  padding: 15px 62px;
  background-color: #28e98c;
  color: #1f1f1f;
  font-size: 18px;
  font-weight: 400;
  border-radius: 50px;
}
#basic button:hover{
  color: #28e98c;
  background-color: #1f1f1f;
  border: 2px solid #28e98c;  
}
#basic>h1{
  font-size: 23px;
  color: #999999;
}
#basic>h1 span{
  font-size: 60px;
  }
#basic:hover{
  border: 2px solid #28e98c;
}

#middle>h5{
  font-size: 18px;
  color: #999999;
  font-weight: 500;
}
#middle>h5 a{
  font-size: 18px;
  font-weight: 500;
  color:#28e98c;
}
#footer{
  height: 100vh;
  margin-top: 50px;
}
#footer h1{
  margin-top: 50px;
  font-weight: 500;
  font-size: 56px;

}
#footer h1 span{
  color: #28e98c;
}
#footer h2{
  margin-top: 30px;
  font-weight: 500;
  color: #fff;
  font-size: 36px;

}
#footer h5{
  color: #fff;
  margin-top: 50px;
  font-weight: 500;
  font-size: 12px;

}
#footer .btn-3{
  margin-top: 50px;
  padding: 15px 62px;
  background-color: #28e98c;
  color: #1f1f1f;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
}

#footer .btn-3:hover{
      color: #28e98c;
      background-color: #1f1f1f;
      border: 2px solid #28e98c;
}
